@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

@layer components {
  .h1 {
    @apply text-4xl font-extrabold font-prompt m-1;
  }
  .h2 {
    @apply text-3xl font-extrabold font-prompt;
  }
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.transition-gradient {
  background-color: #20e3b2;
  background-image: radial-gradient(
      at 50% 15%,
      #0cebeb 0px,
      transparent 50%
    ),
    radial-gradient(at 51% 95%, #20e3b2 0px, transparent 50%),
    radial-gradient(at 0% 100%, #29ffc6 0px, transparent 50%),
    radial-gradient(at 96% 94%, #29ffc6 0px, transparent 50%);
  background-size: 200% 200%;
  animation: heroBg 10s ease infinite;
}
